.logo-lg img{
  height: 3.5em !important;
}

.select2-container .select2-selection--single{
  height: unset !important;
  padding: 0.25rem 0.75rem !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
  /*padding: 0.47rem 0.75rem !important;*/
}
.select2-container--default .select2-selection--multiple{
  padding: 0.38rem 0.75rem !important;
}

.select2-container{
  width: 778px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: unset !important;
  top: 18px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #0bb197 !important;
}